body {
    font-family: Arial, sans-serif;
    background-image: url(image/fondecran.jpg);
    color: white;
    margin: 0;
    padding: 20px;
  }
  
  h1 {
    color: #007bff;
  }

  p{
    font-family: 'Times New Roman', Times, serif;
  }

  img{
    width: 30%;
    height: 30%;
  }


  .erreur{
    font-size:3em;
    text-align: center;
  }